In [3]:
import data_optiondx as data_odx

df = data_odx.SPY_jan23_eod_df_raw

df_calls = data_odx.df_calls

df_calls

,[QUOTE_DATE],[UNDERLYING_LAST],[EXPIRE_DATE],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,2023-01-03,380.82,2023-01-03,0.0,0.96551,0.00562,0.00913,-0.10519,0.00095,4.34673,0.0,73.66,2 x 2,70.86,71.01,310.0,70.8,0.186
1,2023-01-03,380.82,2023-01-03,0.0,0.96015,0.00703,0.00997,-0.10512,0.00032,3.87219,2.0,60.24,2 x 2,60.86,61.01,320.0,60.8,0.160
2,2023-01-03,380.82,2023-01-03,0.0,0.95788,0.00778,0.01014,-0.10536,0.00025,3.68261,NaN,0.00,2 x 2,56.86,57.01,324.0,56.8,0.149
3,2023-01-03,380.82,2023-01-03,0.0,0.96337,0.00810,0.00901,-0.06979,0.00059,3.59852,NaN,0.00,1 x 1,55.32,56.48,325.0,55.8,0.147
4,2023-01-03,380.82,2023-01-03,0.0,0.95600,0.00817,0.01064,-0.10918,0.00021,3.59029,NaN,0.00,1 x 1,54.34,55.54,326.0,54.8,0.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78916,2023-01-31,406.44,2025-12-19,1053.0,0.09236,0.00159,1.13727,-0.01037,0.97988,0.14866,0.0,4.80,1 x 45,1.61,6.50,630.0,223.6,0.550
78917,2023-01-31,406.44,2025-12-19,1053.0,0.08463,0.00150,1.05946,-0.00901,0.89351,0.14600,0.0,3.33,1 x 430,1.14,6.00,635.0,228.6,0.562
78918,2023-01-31,406.44,2025-12-19,1053.0,0.08428,0.00146,1.05671,-0.00983,0.88865,0.14929,0.0,4.00,1 x 57,1.23,6.00,640.0,233.6,0.575
78919,2023-01-31,406.44,2025-12-19,1053.0,0.07248,0.00140,0.94383,-0.00810,0.76886,0.14432,0.0,3.50,37 x 1,0.50,5.38,645.0,238.6,0.587
78920,2023-01-31,406.44,2025-12-19,1053.0,0.07308,0.00138,0.95067,-0.00865,0.77471,0.14725,10.0,2.55,1 x 1,2.40,3.67,650.0,243.6,0.599

In [1]:
import data

df, features, target = data.get_data("calls")

df

,Stock Price (S),Strike Price (K),Dividend Yield (q),Risk-Free Rate (r),Implied Volatility (v),Time to Expiry (T),Call Option Price
0,100,107.946863,0.043112,0.021989,0.211220,0.876063,4.060680
1,100,93.129280,0.057690,0.046476,0.255871,1.301628,13.215410
2,100,101.884856,0.038422,0.011689,0.226801,1.718231,8.573940
3,100,105.139485,0.038146,0.032972,0.176171,1.494306,5.825950
4,100,107.367845,0.053985,0.020783,0.150015,0.756153,1.759164
...,...,...,...,...,...,...,...
99995,100,108.180902,0.045472,0.040148,0.179518,0.623311,2.504448
99996,100,106.423015,0.034393,0.056774,0.239386,0.456354,4.217854
99997,100,95.594475,0.036404,0.033643,0.266925,1.868093,15.163507
99998,100,96.015746,0.023868,0.051344,0.210303,1.111940,12.071239
99999,100,95.795485,0.025726,0.040189,0.272283,1.402455,15.159020

In [4]:
df_calls = data_odx.df_calls
df_puts = data_odx.df_puts

In [5]:
df_calls

,[QUOTE_DATE],[UNDERLYING_LAST],[EXPIRE_DATE],[DTE],[C_DELTA],[C_GAMMA],[C_VEGA],[C_THETA],[C_RHO],[C_IV],[C_VOLUME],[C_LAST],[C_SIZE],[C_BID],[C_ASK],[STRIKE],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,2023-01-03,380.82,2023-01-03,0.0,0.96551,0.00562,0.00913,-0.10519,0.00095,4.34673,0.0,73.66,2 x 2,70.86,71.01,310.0,70.8,0.186
1,2023-01-03,380.82,2023-01-03,0.0,0.96015,0.00703,0.00997,-0.10512,0.00032,3.87219,2.0,60.24,2 x 2,60.86,61.01,320.0,60.8,0.160
2,2023-01-03,380.82,2023-01-03,0.0,0.95788,0.00778,0.01014,-0.10536,0.00025,3.68261,NaN,0.00,2 x 2,56.86,57.01,324.0,56.8,0.149
3,2023-01-03,380.82,2023-01-03,0.0,0.96337,0.00810,0.00901,-0.06979,0.00059,3.59852,NaN,0.00,1 x 1,55.32,56.48,325.0,55.8,0.147
4,2023-01-03,380.82,2023-01-03,0.0,0.95600,0.00817,0.01064,-0.10918,0.00021,3.59029,NaN,0.00,1 x 1,54.34,55.54,326.0,54.8,0.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78916,2023-01-31,406.44,2025-12-19,1053.0,0.09236,0.00159,1.13727,-0.01037,0.97988,0.14866,0.0,4.80,1 x 45,1.61,6.50,630.0,223.6,0.550
78917,2023-01-31,406.44,2025-12-19,1053.0,0.08463,0.00150,1.05946,-0.00901,0.89351,0.14600,0.0,3.33,1 x 430,1.14,6.00,635.0,228.6,0.562
78918,2023-01-31,406.44,2025-12-19,1053.0,0.08428,0.00146,1.05671,-0.00983,0.88865,0.14929,0.0,4.00,1 x 57,1.23,6.00,640.0,233.6,0.575
78919,2023-01-31,406.44,2025-12-19,1053.0,0.07248,0.00140,0.94383,-0.00810,0.76886,0.14432,0.0,3.50,37 x 1,0.50,5.38,645.0,238.6,0.587
78920,2023-01-31,406.44,2025-12-19,1053.0,0.07308,0.00138,0.95067,-0.00865,0.77471,0.14725,10.0,2.55,1 x 1,2.40,3.67,650.0,243.6,0.599

In [6]:
df_puts

,[QUOTE_DATE],[UNDERLYING_LAST],[EXPIRE_DATE],[DTE],[STRIKE],[P_BID],[P_ASK],[P_SIZE],[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,2023-01-03,380.82,2023-01-03,0.0,310.0,0.0,0.01,0 x 2318,0.01,-0.00075,0.00015,0.00072,-0.00483,-0.00015,1.21005,0.0,70.8,0.186
1,2023-01-03,380.82,2023-01-03,0.0,320.0,0.0,0.01,0 x 4037,0.02,-0.00093,0.00025,0.00104,-0.00487,0.00000,0.99616,0.0,60.8,0.160
2,2023-01-03,380.82,2023-01-03,0.0,324.0,0.0,0.01,0 x 2387,0.00,-0.00140,0.00020,0.00105,-0.00538,-0.00007,0.91199,NaN,56.8,0.149
3,2023-01-03,380.82,2023-01-03,0.0,325.0,0.0,0.01,0 x 3395,0.02,-0.00081,0.00026,0.00115,-0.00500,-0.00048,0.89065,0.0,55.8,0.147
4,2023-01-03,380.82,2023-01-03,0.0,326.0,0.0,0.01,0 x 3693,0.01,-0.00119,0.00022,0.00043,-0.00533,-0.00044,0.87004,0.0,54.8,0.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78916,2023-01-31,406.44,2025-12-19,1053.0,630.0,221.0,226.00,202 x 202,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,223.6,0.550
78917,2023-01-31,406.44,2025-12-19,1053.0,635.0,226.0,231.00,202 x 202,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,228.6,0.562
78918,2023-01-31,406.44,2025-12-19,1053.0,640.0,231.0,236.00,20 x 20,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,233.6,0.575
78919,2023-01-31,406.44,2025-12-19,1053.0,645.0,236.0,241.00,202 x 202,0.00,-1.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,238.6,0.587
78920,2023-01-31,406.44,2025-12-19,1053.0,650.0,241.0,246.00,20 x 20,246.00,-1.00000,0.00000,0.00000,0.00000,0.00000,NaN,0.0,243.6,0.599

In [3]:
# import main

# main.df